@using NuGet.Frameworks

<p>
    <small>Execution duration: @Model.Duration</small>
</p>

@foreach (var framework in Model.Result.Select(x => x.GetShortFolderName()).Distinct().OrderBy(x => x))
{
    <span class="badge badge-primary">@framework</span>
    @Environment.NewLine
}

@if (Model.Result.Count == 0)
{
    <p>
        <em>No compatible frameworks returned.</em>
    </p>
}

@code {
    [Parameter]
    public ResultWithDuration<IReadOnlyList<NuGetFramework>> Model { get; set; }
}
